extends layout

block content
  h1= title
  p Welcome to #{title}
  - var results = [{designer:"John Carmack", price: "10 dollars", size: 10},{designer:"Rohit", price: "15 dollars", size: 20},{designer:"Mahesh", price: "20 dollars", size: 20}]
   div(class="container-fluid")
    div(class="row" )
     each res,index in results
      div(class="col-sm-4" onclick=`buy(${index})`) designer : #{res.designer} , price : #{res.price} , size : #{res.size}

  script.
   let itemNumber=0                
        function buy(itemNumber)
        {
            //for index in results
             alert(`you purchased Item ${itemNumber+1}`)
        }    